{% extends "base.html" %}

{% block content %}

    <form action="javascript:void(0);" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                <input id="username" placeholder="Username" type="text">
                <label for="username"></label>
                <input id="password" placeholder="Password" type="password">
                <label for="password"></label>
            </div>
        </div>
        <button id="login_button" class="btn waves-effect waves-light" type="submit" name="action"
                onclick="send_login_data()">Zaloguj
        </button>
    </form>

{% endblock content %}

{% block js-script %}
    <script>

        function send_login_data() {
            let username = $('#username').val();
            let password = $('#password').val();
            $.post("{% url 'login' %}", {
                    "username": username,
                    "password": password,
                    "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                function (response) {
                if (response.action == "redirect") {
                    window.location.href = response.redirect_url;
                }
            }
            );
        }
    </script>

{% endblock js-script %}